################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/TestLibrary/v16
/TestLibrary/bin
/TestLibrary/obj
/TestLibrary/Properties/PublishProfiles
